{% include "header.html" %}

{% for cc in comm %}
<div class="px-4 py-3 my-3 text-center" style="background-color: #1D3557;">
    <h2 style="color: antiquewhite;">{{ cc.title }}</h2>
    <figure class="text-message" style="text-align: justify;">
        <blockquote class="blockquote" style="color: aliceblue;">
            <div class="president_msg_para">
                <p>{{ cc.comm_description | safe }}</p>
            </div>
        </blockquote>
    </figure>
</div>
{% endfor %}

{% for p in pta %}
<div class="px-4 py-3 my-3 text-center" style="background-color: #1D3557;">
    <h2 style="color: antiquewhite;">{{ p.title }}</h2>
    <figure class="text-message" style="text-align: justify;">
        <blockquote class="blockquote" style="color: aliceblue;">
            <div class="president_msg_para">
                <p>{{ p.PTA_description | safe }}</p>
            </div>
        </blockquote>
    </figure>
</div>
{% endfor %}

{% for o in others %}
<div class="px-4 py-3 my-3 text-center" style="background-color: #1D3557;">
    <h2 style="color: antiquewhite;">{{ o.title }}</h2>
    <figure class="text-message" style="text-align: justify;">
        <blockquote class="blockquote" style="color: aliceblue;">
            <div class="president_msg_para">
                <p>{{ o.others_description | safe }}</p>
            </div>
        </blockquote>
    </figure>
</div>
{% endfor %}






{% include "footer.html" %}