{% include "header.html" %}


{% for s in days_celebration %}
<!-- Blog Header Section -->
<header class="text-center py-5 mt-3" style="background-color: #1D3557;">
    <div class="container" style="color: aliceblue;">
        <h1 class="display-4">{{ s.main_title }}</h1>
        <p class="lead">{{ s.sub_title }}</p>
    </div>
</header>

<!-- Main Content Section -->
<div class="container-fluid">
    <div class="row">
        <!-- Blog Post Text -->
        <div class="col-lg-8 border mt-3" style="background-color: #1D3557; color: aliceblue;">
            <p style="margin-left: 5%; margin-top: 3%;">{{ s.text_content | safe }}</p>
        </div>
        <!-- Image Section -->
        <div class="col-lg-4 border rounded mt-3" style="background-color: #1D3557;">
            <div class="mb-4" style="margin-top: 3%;">
                {% if s.image1 %}
                <img src="{{ s.image1.url }}" class="img-fluid mb-3 rounded" alt="Image 1">
                {% endif %}
                {% if main.image2 %}
                <img src="{{ s.image2.url }}" class="img-fluid mb-3 rounded" alt="Image 2">
                {% endif %}
                {% if main.image3 %}
                <img src="{{ s.image3.url }}" class="img-fluid mb-3 rounded" alt="Image 3">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% include "footer.html" %}