{% include "header.html" %}


<!--Header section ends here-->
{% for document in documents %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3 class="mb-3">Departments</h3>
            <p>Click the button below to see the Departments</p>
            <a href="{{ document.pdf.url }}" class="btn btn-primary btn-lg" download>
                <i class="fas fa-download"></i> Download 
            </a>
        </div>
    </div>
</div>
{% endfor %}

<!--Footer content will appear here-->
{% include "footer.html" %}