{% include "header.html" %}


<!--Header section ends here-->
<!--Main section-->
<!--main -->
<div class="px-4 py-3 my-3 text-center" style="background-color: #1D3557;">
    <h2 style="color: antiquewhite;">Secretary Message</h2>
    {% for secM in sec_msg %}
    <div class="text-center mb-3 mt-3">
        {% if secM.secretary_img %}
        <img src="{{ secM.secretary_img.url }}" height="300px" width="300px" class="rounded" alt="...">
        {% else %}
        <p>No image available</p>
        {% endif %}
    </div>
    <figure class="text-message" style="text-align: justify;">
        <blockquote class="blockquote" style="color: aliceblue;">
            <div class="president_msg_para">
                {{ secM.Secretary_msg|safe }}
            </div>
        </blockquote>
    </figure>
    {% endfor %}
</div>
<!--Footer content will appear here-->

{% include "footer.html" %}