{% include "header.html" %}
<!--Header section ends here-->
<!-- Teaching staff and non-teaching staff names section -->

<section class="about_section layout_padding mt-3 mb-2">
    <div class="container-fluid" style="background-color: #1D3557;">
        <div class="row">
            <h1 style="color:aliceblue;text-align: center;margin-top: 3%;">Teaching Staff</h1>

            <p style="color:aliceblue">We highly regard the most precious resource – Our Teachers.
                At IDEAL, we hold our teachers in high esteem. They not only impart the curriculum but also actively
                engage in co-curricular education, fostering a passion for learning and cultivating critical
                thinking skills.
            </p>

            {% for t in teaching %}
            <div class="card text-center mt-5 mx-auto mb-5" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        {% if t.photo %}
                        <img src="{{ t.photo.url }}" alt="Profile Photo"
                            class="rounded border border-3" style="width: 150px; height: 200px;">
                        {% endif %}
                    </div>
                    <h5 class="card-title mt-3">{{ t.name }}</h5>
                    <p class="card-text text-muted">{{ t.designation }}</p>
                    <h6 class="mt-3">Achievements:</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ t.achievement | safe }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <h1 style="color:aliceblue;text-align: center;">Non-Teaching Staff</h1>

                <p style="color: aliceblue;">We value the most helpful resource – Non-Teaching Staff
                    Diligent clerical office staff tirelessly contributes, while supporting non-teaching staff enhances
                    the school premises, fostering a clean and green environment for an optimal learning experience.

                </p>


                {% for t in Nteaching %}
            <div class="card text-center mt-5 mx-auto mb-5" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        {% if t.photo %}
                        <img src="{{ t.photo.url }}" alt="Profile Photo"
                            class="rounded border border-3" style="width: 150px; height: 200px;">
                        {% endif %}
                    </div>
                    <h5 class="card-title mt-3">{{ t.name }}</h5>
                    <p class="card-text text-muted">{{ t.designation }}</p>
                    <h6 class="mt-3">Achievements:</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ t.achievement | safe }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
</section>

<!--Footer content will appear here-->
{% include "footer.html" %}